/* qrhistory.css */

/* Contenedor principal */
.qr-history-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header sticky en la parte superior */
.qr-history-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  /* Sin margen ni padding */
}

/* Footer sticky en la parte inferior */
.qr-history-footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  background-color: white;
  height: 50px; /* Ajusta el tamaño del footer */
}

/* Contenedor del cuerpo */
.qr-history-body {
  flex-grow: 1; /* Esto asegura que ocupa el espacio disponible entre el header y el footer */
  overflow-y: auto; /* Agrega el scroll vertical */
  padding: 10px; /* Agrega el padding que solicitaste */
  margin-top: 10px; /* Deja espacio para no solaparse con el header */
  display: flex;
  justify-content: center; /* Centra las tarjetas horizontalmente */
  flex-wrap: wrap;
}

/* Títulos y textos */
.qr-history-body h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.qr-history-body p {
  font-size: 1rem;
  color: #6c757d;
}