/* Estilos específicos para el banner */
.banner-img {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    overflow: hidden; /* Esto garantiza que la imagen no se desborde */
}

.banner-image {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio del contenedor sin distorsionarse */
}