.custom-navbar-bg {
    background-color: black; /* Fondo negro */
    position: relative; /* Para posicionar las estrellas */
    overflow: hidden; /* Asegura que las estrellas no se salgan del contenedor */
    border-bottom: 1px solid #444; /* Línea de separación opcional */
    z-index: 1000;
  }
  
  .custom-navbar-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, white 1px, transparent 1px) 0% 0%,
      radial-gradient(circle, white 1px, transparent 1px) 25% 25%,
      radial-gradient(circle, white 1px, transparent 1px) 50% 50%,
      radial-gradient(circle, white 1px, transparent 1px) 75% 75%;
    background-size: 5px 5px;
    opacity: 0.3;
    z-index: -1;
    animation: twinkling 5s infinite;
  }
  
  @keyframes twinkling {
    0% {
      opacity: 0.3;
      transform: scale(1);
    }
    50% {
      opacity: 0.6;
      transform: scale(1.2);
    }
    100% {
      opacity: 0.3;
      transform: scale(1);
    }
  }
    .custom-navbar .navbar-brand {
      font-weight: bold;
    }
    
    .custom-navbar .nav-link {
      color: #7a7979;
      transition: color 0.3s ease;
    }
    
    .custom-navbar .nav-link:hover {
      color: #0d6efd;
    }