/* formSensitive.css */
.sensitive-data-form-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sensitive-data-form-container .form-group {
    margin-bottom: 15px;
  }
  
  .sensitive-data-form-container label {
    font-weight: bold;
  }
  
  .row {
    margin-bottom: 20px; /* Aumenta el espacio entre los campos */
  }
  
  .nav-tabs {
    display: flex;
    justify-content: center; /* Centra las pestañas */
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    padding: 0;
  }
  
  .nav-tabs .nav-item {
    flex: 1;
    text-align: center;
  }
  
  .nav-tabs .nav-link {
    font-weight: bold;
    text-align: center;
    border: none;
    border-bottom: 2px solid transparent;
    margin: 0;
    padding: 10px 0;
    color: #525aa6;
  }
  
  .nav-tabs .nav-link.active {
    border-color: #525aa6;
    color: #525aa6;
  }
  
  .nav-content {
    padding: 10px 0;
    text-align: center;
  }
  
  .nav-content .tab-pane {
    margin-top: 20px;
  }