
.view-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  width: 100%;
  padding: 0;
  margin: 0;
}

.view-header {
  position: sticky;
  top: 0;
  height: 70px; 
  z-index: 10;
  width: 100%; 
}

.view-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
  overflow-y: auto;
  flex-grow: 1; /* Esto permite que el body ocupe el espacio restante */
}

.view-banner {
  background-color: #f8f9fa;
  height: 100px;
  width: 100%;
  margin-bottom: 0;
}


.view-footer {
  background-color: #f8f9fa;
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 0;
}

/* Botón principal de crear */
.create-contact-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #525aa6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease-in-out;
  margin-top: 20px;
}

/* Hover del botón */
.create-contact-btn:hover {
  background-color: #0056b3;
}

/* Ícono "+" dentro del botón */
.create-contact-btn .plus-icon {
  font-size: 22px;
}

/* Estilos para los otros botones de editar y borrar */
/* Botón principal de crear */
.create-contact-btn, .edit-contact-btn, .delete-contact-btn {
  width: 60px;  /* Tamaño del botón */
  height: 60px;
  border-radius: 50%; /* Redondeamos el botón */
  background-color: #525aa6;  /* Color de fondo */
  color: white;
  display: flex;
  justify-content: center;  /* Centrar los íconos */
  align-items: center;
  font-size: 24px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease-in-out;
  margin: 10px;  /* Espaciado entre los botones */
}

/* Hover de los botones */
.create-contact-btn:hover, .edit-contact-btn:hover, .delete-contact-btn:hover {
  background-color: #0056b3;
}

/* Colores específicos para cada tipo de botón */
.edit-contact-btn {
  background-color: #f0ad4e;  /* Color amarillo para Editar */
}

.delete-contact-btn {
  background-color: #d9534f;  /* Color rojo para Borrar */
}

/* Hover de los botones */
.edit-contact-btn:hover {
  background-color: #ec971f;
}

.delete-contact-btn:hover {
  background-color: #c9302c;
}

/* Íconos dentro de los botones */
.create-contact-btn .plus-icon,
.edit-contact-btn .edit-icon,
.delete-contact-btn .delete-icon {
  font-size: 28px; /* Tamaño del ícono */
  font-weight: bold;  /* Asegura que el ícono esté centrado */
}

/* Asegurarnos de que los botones se vean bien en pantallas pequeñas */
@media (max-width: 768px) {
  .create-contact-btn, .edit-contact-btn, .delete-contact-btn {
      width: 50px;  /* Reducir el tamaño en pantallas pequeñas */
      height: 50px;
      font-size: 20px;
  }

  .create-contact-btn .plus-icon,
  .edit-contact-btn .edit-icon,
  .delete-contact-btn .delete-icon {
      font-size: 22px; /* Reducir el tamaño de los íconos */
  }
}

/* Contenido del cuerpo debajo de las Tabs */
.body-content {
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}